*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Arial, sans-serif;
}
body{
     /* background: #000;  */
    color: #fff;
}
.container{
   width: 98.75vw;
    height: 750px;
    /* border: 1px solid; */
    background-image: linear-gradient( rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)) , url(https://assets.nflxext.com/ffe/siteui/vlv3/cacfadb7-c017-4318-85e4-7f46da1cae88/4244dac6-92b3-4f0c-bca5-0973a354987d/US-en-20240603-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.h1{
    color: red;
    margin-left: 10%;
  
}
.button{
  margin-right: 10%;
    
}
.btn1{
    background: red;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}
.btn1:hover{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.767);
}
.btn2{
    background: red;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}
.btn2:hover{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.767);
}
.center{
   /* border: 1px solid white; */
   width: 80%;
   height: 300px;
   /* padding: 20px 20px; */
   margin: auto;
   margin-top: 13%;
}
.centerh1{
  text-align: center;
  font-size: 50px;
 }
.centerp{
    text-align: center;
    margin-top: 40px;
    font-size:22px ;
}
.centerp2{
    text-align: center;
    margin-top: 20px;
    font-size:22px ;
}  
.form{
   text-align: center;
   margin-top: 3%;
}
.input{
  width: 390px;
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.185);
  border: 1px solid white;
  border-radius: 2px;
}
.formbtn{
    background:red;
    padding: 16px 30px;
    font-size: 20px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}
.formbtn:hover{
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.767);
}

.container2{
   background-color: #000;
     width: 98.75vw; 
    height: 550px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.sec1{
    /* border: 1px solid white; */
    width: 60%;
    height: 500px;
    margin-left: 38%;
}
.sec1h2{
 margin-top: 35%;
 font-size: 40px;
}
.sec1p2{
 margin-top: 30px;
 font-size: 20px;
}
.sec2{
    /* border: 1px solid white; */
    width: 90%;
    height: 500px;   
    margin-right: 30px;
    position: relative;
    
}

.video{
    position: relative;
    height: 300px;
    width:400px ;
    left: 75px;
    top: 60px;
    /* z-index: 999; */

  
}
.sec2img{
    position: absolute;
    height: 430px;
    width: 550px;
    left: 1px;
}
.container3{
    background-color: #000;
     width: 98.75vw; 
    height: 550px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.sec3{
    /* border: 1px solid white; */
    width: 90%;
    height: 500px;   
    margin-left: 10%;
    
 
}
.img3{
    height: 400px;
    width: 400px;
    margin-left: 24%;
    margin-top: 50px;
}
.sec4{
    /* border: 1px solid white; */
    width: 70%;
    height: 500px;
    
}
.sec4h1{
    font-size: 50px;
   margin-top: 20%;
}
.sec4p3{
 margin-top: 20px;
 font-size: 23px;
}

.container4{
    background-color: #000000;
    width: 98.75vw; 
   height: 400px;
   margin-top: 5px;
   display: grid;
   grid-template-columns: 50%;
   align-items: center;
}
.text4{
    /* border: 1px solid white; */
    width: 400px;
    height: 300px;
    margin-top: -60px;
    margin-left: 40%;
  
}
.text4h1{
  font-size: 50px;
  margin-top: 80px;
 
}
.text4p4{
font-size: 23px;
margin-top: 20px;
}

.container5{
    background-color: #000000;
    width: 98.75vw; 
   height: 550px;
   margin-top: 5px;
   display: grid;
   grid-template-columns:50% 50%;
   align-items: center;
}
.sec5{
    /* border: 1px solid white; */
   width: 400px;
    height: 500px;   
    margin-left: 20%;
}
.sec5img{
  height: 450px;
  width: 450px;
  margin-top: 50px;
  margin-left: 20%;
}
.sec6{
    /* border: 1px solid white; */
    width: 600px;
    height: 400px;
}
.sec6h1{
    font-size: 50px;
    margin-top:50px ;
}
.sec6p6{
   font-size: 25px;
   margin-top: 30px;
}
.container6{
    background-color: #000;
    width: 98.75vw; 
   height: 1000px;
   margin-top: 5px;
   display: grid;
   grid-template-columns:100% ;
   
}

.contain6h1{
    text-align: center;
    font-size: 50px;
    margin-top: 25px;
   
}
.accordian{
    margin: auto;
    margin-top: 30px ;
   width: 100%;
    max-width: 750px;
}
.accordian li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordian li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}
.accordian li label:hover{
    cursor: pointer;
    background: #3030309d;
}
label::after{
    content: '+' ;
    font-size: 34px;
    position: absolute;
    right: 20px;
  transition: transform 0.5s;

}
input[type="radio"]{
    display: none;
}
.accordian .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s ;
}
.accordian input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;

}
.accordian input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.center1{
    height: 780px;
    width: 900px;
    /* border: 1px solid white; */
    margin: auto;
  margin-top: 50px;
}
.pcon6{
    margin-top: 60px;
    font-size: 20px;
    text-align: center;
}
.formcon6{
    text-align: center;
    margin-top: 3%;
 }
 .inputcon6{
   width: 390px;
   padding: 20px 20px;
   background-color: rgba(0, 0, 0, 0.185);
   border: 1px solid white;
   border-radius: 2px;
 }
 .formbtncon6{
     background:red;
     padding: 16px 30px;
     font-size: 20px;
     border-radius: 4px;
     color: white;
     font-weight: bold;
 }

.container7{
    background-color: #000;
    border: 1px solid;
    width: 98.60vw; 
    height: 550px;
    margin-top: 5px;
    
}
.footer{
  
    /* border: 1px solid white; */
    width: 90%;
     bottom: 10px;
   margin-left: 100px;
    background-color: black;
    color: white;
    padding: 60px 0px;
  
   
}
.footer1{
    /* border: 1px solid; */
    /* height: 100%; */
    width: 90%;
    margin: auto;
    display: flex;
  
}

.face1{
   height: 400px;
   width: 25%;
   /* border: 1px solid white; */
}
.face2{
    height: 250px;
    width: 25%;
    /* border: 1px solid white; */
    
 }
 .face3{
    height: 250px;
    width: 25%;
    /* border: 1px solid white; */
 }
 .face4{
    height: 250px;
    width: 25%;
    /* border: 1px solid white; */
 }
 ul{
    list-style: none;
 }
 .con7li{
   text-decoration: underline;
    margin-top: 30px;
}
.con7li:hover{
    cursor: pointer;
}
 .fac1btn{
    border: 1px solid white;
   background-color: #000000;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
 }
 .fa-caret-down{
    margin-left: 20px;
 }
 .linetflix{
    margin-top: 30px;
 }


           /* start media query */

@media only screen and (max-width:480px) {

    .container{
        width: 100%;
        height: 500px;
    }
    .header{
        padding: 10px; 
        justify-content: space-between;
    }
    .h1{
      font-size: 15px;
    }
    .button{
        margin-right: 5%;
    }
    .btn1{
        font-size: 7px;
       
    }
    .btn2{
        font-size: 7px;
    }
    .centerh1{
       font-size: 25px;
    }
    .centerp{
        font-size: 15px;
    }
    .centerp2{
        font-size: 15px;
    }
    .form{
    margin-top: 5%;
    }
    .input{
       width: 250px;
       border-radius: 5px;
       background-color: #00000081;
    }
    .formbtn{
        margin-top: 20px;
        font-size: 15px;
        border-radius: 4px;
    }
    .container2{
        background-color: #000;
          width: 100%; 
         height: 550px;
         top: 5px;
         /* display: block; */
         /* grid-template-columns: 50% 50%; */
         align-items: center;
     }
     .sec1{
        /* border: 1px solid white; */
     
        width: 120%;
        /* height: 200px; */
        margin-left: 45%;
    }
    .sec1h2{
     /* margin-top: 35%; */
     font-size: 25px;
    }
    .sec1p2{
     /* margin-top: 30px; */
     text-align-last: center;
     font-size: 14px;
    }
    .sec2{
        /* border: 1px solid white; */
        width: 90%;
        height: 300px;   
        /* margin-right: 10px; */
        display: block;
        position: relative;
        left: -120px;
        top: -150px;

        
    }
    
    .video{
        position: relative;
        height: 250px;
        width:250px ;
        left: 20px;
        top: 250px;
        /* z-index: 999; */
    
      
    }
    .sec2img{
        position: absolute;
        height: 250px;
        width: 300px;
        left: -20px;
       /* z-index: 999; */
    }

    .container3{
        background-color: #000000;
        width: 100%; 
       height: 550px;
       top: 5px;
       /* display: block; */
       /* grid-template-columns: 50% 50%; */
       align-items: center;
    }
    
    .sec3{
        /* border: 1px solid white; */
        width: 90%;
        height: 800px;   
        margin-left: 10px;
        
     
    }
    .img3{
        display: block;
        height: 270px;
        width: 250px;
       margin-left: 65px;
       margin-top: 250px;
    }
    .sec4{
        /* border: 1px solid white; */
        width: 350px;
        height: 500px;
      text-align: center;
      margin-left: -170px;
        
    }
    .sec4h1{
        font-size: 28px;
       margin-top: -100px;
    }
    .sec4p3{
     margin-top: 20px;
     font-size: 17px;
    }
    .container4{
        background-color: #000;
        width: 100%; 
       height: 300px;
       margin-top: 5px;
       display: grid;
       grid-template-columns: 50%;
       align-items: center;
       
    }
    .text4{
        /* border: 1px solid white; */
        width: 310px;
        height: 300px;
        margin-top: 20px;
        margin-left: 50px;
        text-align: center;
      
    }
    .text4h1{
      font-size: 28px;
      margin-top: 80px;
     
    }
    .text4p4{
    font-size: 15px;
    margin-top: 20px;
    }
    .container5{
        background-color: #000;
        width: 100%; 
       height: 550px;
       margin-top: 5px;
       /* display: grid;
       grid-template-columns:50% 50%; */
       align-items: center;
    }
    .sec5{
        /* border: 1px solid white; */
       width: 300px;
        height: 500px;   
        margin-left: 20%;
    
        
    }
    .sec5img{
        display: block;
      height: 250px;
      width: 350px;
      margin-top: 200px;
      margin-left: -20px;
    }
    .sec6{
        /* border: 1px solid white; */
        
        width: 205px;
        height: 400px;
        text-align-last:center ;
    }
    .sec6h1{
        font-size: 25px;
        margin-top:-20px ;
    margin-left: -220px;
     }
    .sec6p6{
       font-size: 17px;
       margin-top: 30px;
       margin-left: -190px;
     }

     .container6{
        background-color: #000;
        width: 100%; 
       height: 1200px;
       margin-top: 5px;
       /* display: grid;
       grid-template-columns:100% ;
        */
    }
    
    .contain6h1{
        text-align: center;
        font-size: 20px;
        margin-top: 6px;
        margin-left: 60px;
       
    }
    .accordian{
        margin: auto;
        margin-top: 30px ;
       width: 100%;
        max-width: 750px;
    }
    .accordian li{
        list-style: none;
        width: 120%;
        padding: 0px;
    }
    .accordian li label{
        display: flex;
        align-items: center;
        padding: 30px;
        font-size: 15px;
        font-weight: 500;
        background: #303030;
        margin-bottom: 10px;
        cursor: pointer;
        position: relative;
    }
    .accordian li label:hover{
        cursor: pointer;
        background: #3030309d;
    }
    label::after{
        content: '+' ;
        font-size: 30px;
        position: absolute;
        right: 20px;
      transition: transform 0.5s;
    
    }
    
    .accordian .content{
        background: #303030;
        text-align: left;
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s, padding 0.5s ;
    }
   
    .center1{
        height: 780px;
        width: 300px;
        /* border: 1px solid white; */
        margin: auto;
      margin-top: 50px;
      margin-left: 20px;
    }
    .pcon6{
        margin-top: 40px;
        font-size: 13px;
        text-align: center;
        margin-left: 45px;
    }
    .formcon6{
        text-align: center;
        margin-top: 8%;
     }
     .inputcon6{
        display: block;
       width: 320px;
       padding: 20px 20px;
       background-color: rgba(0, 0, 0, 0.068);
       border: 1px solid white;
       border-radius: 4px;
      
     }
     .formbtncon6{
         background:red;
         padding: 16px 30px;
         font-size: 15px;
         border-radius: 4px;
         color: white;
         font-weight: bold;
         margin-top: 20px;
         margin-left: 60px;
     }
     .container7{
        background-color: #000;
        border: 1px solid;
        width: 100%; 
        height: 580px;
        margin-top: 5px;
        
    }
    .footer{
      
        /* border: 1px solid white; */
        width: 90%;
         bottom: 10px;
        margin-left: 10px;
        background-color: black;
        color: white;
        padding: 60px 0px;
      
      
       
    }
    .footer1{
        /* border: 1px solid; */
        /* height: 100%; */
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 50% 50%  ; 
        margin-top:-50px;
    }
   
    .face1{
       height: 400px;
       width: 100%;
       font-size: 13px;
       /* border: 1px solid white; */
    }
    .face2{
        height: 250px;
        width: 100%;
        font-size: 13px;
        /* border: 1px solid white; */
        margin-left: 50px;
        
     }
     .face3{
        height: 250px;
        width: 100%;
         font-size: 13px;
         margin-top: -175px;
        /* border: 1px solid white; */
     }
     .face4{
        height: 250px;
        width: 100%;
         font-size: 13px;
         margin-top: -220px;
         margin-left: 50px;
        /* border: 1px solid white; */
     }
     ul{
        list-style: none;
     }
     .con7li{
       text-decoration: underline;
        margin-top: 30px;
    }
    .con7li:hover{
        cursor: pointer;
    }
 .fac1btn{
    display: block;
    border: 1px solid white;
   background-color: #000;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-top: 220px;
  }
     .fa-caret-down{
        margin-left: 20px;
     }
     .linetflix{
        margin-top: 30px;
    }
}
